
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
            <div class="row">
                <div
                class="col-lg-6 order-1 order-lg-2"
                data-aos="zoom-in"
                data-aos-delay="100"
                >
                <div class="about-img">
                    <img src="assets/img/Popular.jpg" alt="Cafe xd" />
                </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Acerca de nosotros.</h3>
                <p class="fst-italic">
                    somos un emprendimiento familiar en el norte de la provincia de Pichincha
                </p>
                <ul>
                    <li>
                    <i class="bi bi-check-circle"></i> Abrimos todos los días de
                    la semana.
                    </li>
                    <li>
                    <i class="bi bi-check-circle"></i> tenemos productos de pasteria, 
                    reposteria y pasteleria
                    </li>
                    <li>
                    <i class="bi bi-check-circle"></i>nuestro objetivo es brindarle un
                    ambiente seguro y acogedor.
                    </li>
                </ul>
                <div class="btns">
                    <button type="button" class="btn btn-outline-warning">Contáctanos</button>
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- End About Section -->